CMakeFiles/
CMakeCache.txt
cmake_install.cmaake
Makefile
DisplayImage
FindAngles
ImageProcessing
main
output-cleaner
camera_x_output*.csv
camera_y_output*.csv
controller_x_output.csv
controller_y_output.csv
filter_x_output.csv
filter_y_output.csv
uart_output*.csv
.vscode/
cmake_install.cmake
libserial.a
CompilationLog
calibrate-cameras
reset-board
camera.calib