[submodule "rodos"]
	path = rodos
	url = https://gitlab.com/rodos/rodos
[submodule "serial"]
	path = serial
	url = https://github.com/wjwwood/serial.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
[submodule "opencv_contrib"]
	path = opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
